{% extends 'page.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block content %}
  <h1>Home page</h1>
  <ul>
    <li>Profile</li>
    <li>Organisation Details</li>
    <li>Courses</li>
    <li>Subjects</li>
  </ul>
{% endblock %}
