{% extends 'base.html.twig' %}

{% block title %}Edit Attendance{% endblock %}

{% block body %}
    <h1>Edit Attendance</h1>

    {{ include('attendance/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('attendance_index') }}">back to list</a>

    {{ include('attendance/_delete_form.html.twig') }}
{% endblock %}
