{% extends 'base.html.twig' %}

{% block title %}New Attendance{% endblock %}

{% block body %}
    <h1>Create new Attendance</h1>

    {{ include('attendance/_form.html.twig') }}

    <a href="{{ path('attendance_index') }}">back to list</a>
{% endblock %}
